  .change .bar2 {
      transform: rotate(38deg) translate(-1px, -1px);
      margin: 2px 0px;
  }
  .navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 7px;
}


.navbarLink{
  text-decoration: none;
  font-size: 14px;
  margin-left: 60px;
  color: white;
  margin-right: -37px;
text-decoration: none;
font-size: 14px;
margin-left: 68px;
margin-right: 8px;
color:white;
}
.navbarLink:hover {
  text-decoration: none;
  font-size: 14px;
  margin-left: 68px;
  margin-right: 8px;
  color: white;
  opacity: 0.65;
  }




  .navbar-toggler-icon {
    display: inline-block;
    width: 15px !important;
    height: 15px!important;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 50% 50%;
}
@media (max-width: 991.98px) {  
.img-alignment
{
    margin: 0 auto !important;
}


}






/* banner */
.banner  {
    margin-top: 0px;
    height: 100%;
    width: 100%;
}

@media (max-width: 768px) { 
    .banner  {
        margin-top: 4px;
        height: 100%;
        width: 100%;
    }
    
 }




 
/* Home  */

.topMargin{
    margin-top:150px;
}

